---
permalink: /collection/
---

<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="collection">
      <div class="wrapper">
        <div class="thumbnail-wrapper one-third">
          <a href="/images/the-bhutanese-man.jpg" class="mfp-image image-link">
            <img src="/images/the-bhutanese-man-960x640.jpg"></img>
          </a>
        </div>
        <div class="thumbnail-wrapper one-third">
          <a href="/images/mother-and-infant.jpg" class="mfp-image image-link">
            <img src="/images/mother-and-infant-960x640.jpg"></img>
          </a>
        </div>
        <div class="thumbnail-wrapper one-third">
          <a href="/images/absorption.jpg" class="mfp-image image-link">
            <img src="/images/absorption-960x640.jpg"></img>
          </a>
        </div>
        <div class="thumbnail-wrapper one-third">
          <a href="/images/himachali-woman.jpg" class="mfp-image image-link">
            <img src="/images/himachali-woman-960x640.jpg"></img>
          </a>
        </div>
        <div class="thumbnail-wrapper one-third">
          <a href="/images/the-lambani-woman.jpg" class="mfp-image image-link">
            <img src="/images/the-lambani-woman-960x640.jpg"></img>
          </a>
        </div>
      </div>
    </div>

    <script src="/javascript/jquery-1.11.3.min.js"></script>
    <script src="/javascript/jquery.magnific-popup.min.js"></script>

    <script type="text/javascript">
      $(document).ready(function(){
        $('.image-link').magnificPopup();
      });
    </script>
  </body>
</html>
