.about {
  .site-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    a {
      color: white;
    }
  }

  .about-hero {
    height: 500px;
    margin-bottom: 50px;
    background-color: white;
    background: url('/images/sudha-1.jpg') center center no-repeat;
    background-size: cover;
  }

  .about-social-links {
    float: right;
    margin-top: - 100px;
    a {
      margin-left: 20px;
      color: #111;
      text-decoration: none;
      &:hover {
        color: white;
      }
    }
    i {
      font-size: 2em;
    }
  }

  .about-description {
    width: 50%;
    margin: 0 auto;
    line-height: 1.5em;
    font-size: 1.3em;
    p {
      margin-bottom: 30px;
    }
  }
}
