$thumbnail-gutter-width: 16px;

.collection {
  margin-top: 50px;

  .thumbnail-wrapper {
    margin-left: $thumbnail-gutter-width;
    width: -webkit-calc(100%/3 - 13px);
    width: calc(100%/3 - 13px);
    &:nth-child(3n+1) {
      margin-left: 0;
    }
  }
}
