$collection-nav-item-count: 4;
$collection-nav-item-padding: 25px;
$collection-nav-item-width: 40px;
$collection-nav-item-total-border: (1px * $collection-nav-item-count) + 1;
$collection-nav-item-total-width: ($collection-nav-item-width + $collection-nav-item-padding * 2) * $collection-nav-item-count;
$thumbnail-gutter-width: 16px;

.collection {
  padding-bottom: 100px;
  .collection-nav {
    margin: 40px auto 20px;
    width: $collection-nav-item-total-border + $collection-nav-item-total-width;

    ul {
      margin: 0;
      list-style: none;
      @extend %clearfix;
    }
  }

  .collection-nav-item {
    float: left;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    text-align: center;
    a {
      display: inline-block;
      width: $collection-nav-item-width;
      padding: 5px $collection-nav-item-padding;
      text-decoration: none;
      text-align: center;
      color: black;
    }
    &:first-child {
      border-left: 1px solid black;
    }
    &.selected {
      background-color: #eee;
    }
  }

  .thumbnail-wrapper {
    margin-top: 50px;
    margin-left: $thumbnail-gutter-width;
    width: -webkit-calc(100%/3 - 13px);
    width: calc(100%/3 - 13px);
    &:nth-child(3n+1) {
      margin-left: 0;
    }
  }
}
