<!DOCTYPE html>
<html>

  {% include head.html %}

  <body oncontextmenu="return false;">
    <div class="about">
      <div class="about-header">
        {% include header.html %}
        <div class="about-hero"></div>
        <div class="wrapper">
          <div class="about-social-links">
            <a href="mailto:sudhatheartist@gmail.com" target="_blank" title="sudhatheartist@gmail.com">
              <i class="fa fa-envelope"></i>
            </a>
            <a href="https://www.facebook.com/sudhatravelart" target="_blank">
              <i class="fa fa-facebook"></i>
            </a>
            <a href="https://www.linkedin.com/in/sudha-madhavan-07330053" target="_blank">
              <i class="fa fa-linkedin"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="about-description">
        {{ content }}
      </div>
    </div>
  </body>
</html>
