<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include header.html %}

    {% if page.selected == 'all' %}
      {% assign allClass = 'selected' %}
    {% endif %}
    {% if page.selected == 'people' %}
      {% assign peopleClass = 'selected' %}
    {% endif %}
    {% if page.selected == 'nature' %}
      {% assign natureClass = 'selected' %}
    {% endif %}
    <div class="collection">
      <div class="wrapper">
        <nav class="collection-nav">
          <ul>
            <li class="collection-nav-item {{ allClass }}">
              <a href="#">All</a>
            </li>
            <li class="collection-nav-item {{ peopleClass }}">
              <a href="/collection/people">People</a>
            </li>
            <li class="collection-nav-item {{ natureClass }}">
              <a href="/collection/nature">Nature</a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="wrapper">
        {% for painting in page.paintings  %}
          <div class="thumbnail-wrapper one-third">
            <a href={{ painting.image_path }} class="mfp-image image-link">
              <img src={{ painting.thumbnail_path }}></img>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>

    <script src="/javascript/jquery-1.11.3.min.js"></script>
    <script src="/javascript/jquery.magnific-popup.min.js"></script>

    <script type="text/javascript">
      $(document).ready(function(){
        $('.image-link').magnificPopup();
      });
    </script>
  </body>
</html>
