---
layout: default
---

<div class="writings">
  <ul class="post-list">
    {% for post in site.posts %}
      <li class="post-item">
        <img class="post-item-image" src="{{ post.image_path }}" />
        <div class="post-item-content">
          <div class="post-item-content-title">
            {{ post.title }}
          </div>
          <div class="post-item-content-published-in">
            {% if post.published_url %}
              <a target="_blank" href="{{ post.published_url }}">{{ post.published_in }}</a>
            {% else %}
              {{ post.published_in }}
            {% endif %}
          </div>
          <div class="post-item-content-blurb">
            {{ post.excerpt | strip_html }}
          </div>
          <a href="{{ post.url | prepend: site.baseurl }}" class="js-read-more-link post-item-content-read-more">
            Read More
          </a>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>

<script src="/javascript/jquery-1.11.3.min.js"></script>
<script src="/javascript/jquery.magnific-popup.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $('.js-read-more-link').magnificPopup({
      type: 'ajax'
    });
  });
</script>
